html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: inherit;
}

::-moz-placeholder {
  font-family: inherit;
}

:-ms-input-placeholder {
  font-family: inherit;
}

::-ms-input-placeholder {
  font-family: inherit;
}

input,
button,
textarea,
::placeholder {
  font-family: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
button:active, button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 168.75%;
  background-color: #fff;
  color: #5A5A5A;
}
body._lock {
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 120px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 141.6666666667%;
  color: #363838;
  text-align: center;
}
@media (max-width: 580px) {
  .title {
    font-size: 24px;
  }
}

@media (min-width: 991.98px) {
  .user:hover,
.category:hover {
    text-decoration: underline;
  }
}

._hide {
  display: none;
}

.breadcrumbs {
  position: relative;
  z-index: 99;
  background-color: rgba(223, 223, 223, 0.5);
  padding: 14px 0;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}
.breadcrumbs__item {
  position: relative;
  padding: 0px 8px 0px 0px;
}
.breadcrumbs__item::after {
  content: "/";
  position: absolute;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  font-size: 14px;
  line-height: 200%;
}

.slick-slide:active,
.slick-slide:focus {
  outline: none;
}

.slick-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-btn__prev {
  left: 16px;
}

.slick-btn__next {
  right: 16px;
}

.slick-dots {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 15px;
}
.slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363838;
  font-size: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-dots li.slick-active button {
  background-color: #FFEF35;
}

.slick-dots.slick-dots__contact-us {
  bottom: -35px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
@media (min-width: 991.98px) {
  .header._sticky .header__inner {
    height: 80px;
  }
}
.header__inner {
  font-family: "Montserrat", sans-serif;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__menu {
  padding: 0px 60px 0px 35px;
}
@media (max-width: 767.98px) {
  .header__menu {
    padding: 0;
  }
}
.header__logo {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header__logo {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    z-index: 103;
  }
}

.menu__icon {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li + li {
  margin: 0px 0px 0px 80px;
}
.menu__link {
  font-weight: 700;
  line-height: 137.5%;
  color: rgba(54, 56, 56, 0.9);
}
@media (min-width: 767px) {
  .menu__link--active {
    position: relative;
  }
  .menu__link--active::before {
    content: "";
    position: absolute;
    z-index: 101;
    bottom: -4px;
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background-color: rgba(54, 56, 56, 0.7);
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .header__btn {
    display: none;
  }
}

.rightside-menu__close {
  margin: 0px 0px 60px 40px;
}
.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}
.rightside-menu__logo {
  margin: 0px 0px 25px 0px;
}
.rightside-menu__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 141.6666666667%;
  color: #363838;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  position: relative;
}
.rightside-menu__title::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 1px;
  background-color: #979797;
  margin: 0 auto;
}
.rightside-menu__text {
  font-family: "Open Sans", sans-serif;
  margin: 0px 0px 75px 0px;
}
.rightside-menu__image {
  padding: 0px 0px 77% 0px;
  position: relative;
}
.rightside-menu__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rightside-menu {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  right: -800px;
  max-width: 700px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 170px 0px 20px 0px;
  -webkit-transition: right 0.6s ease 0s;
  transition: right 0.6s ease 0s;
}
.rightside-menu._active {
  right: 0;
}

@media (max-width: 767px) {
  .header__inner {
    padding: 58px 0px 0px 0px;
  }

  .header__menu {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 101;
    text-align: center;
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    overflow: auto;
    margin: -1px 0px 0px 0px;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
  }
  .header__menu._active {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  .menu__list {
    display: block;
  }
  .menu__list li {
    padding: 0 10px;
  }
  .menu__list li + li {
    margin: 0px 0px 0px 0px;
  }

  .menu__link {
    font-size: 18px;
    padding: 15px 0;
  }

  .menu__icon {
    display: block;
    position: absolute;
    z-index: 103;
    top: 64px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon._active span {
    background-color: rgba(56, 56, 56, 0.9);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.intro__inner {
  position: relative;
  padding: 0px 0px 70px 0px;
}
.intro__inner::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 722px;
  height: 100%;
  background-image: url(../img/intro/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 840px) {
  .intro__inner::before {
    background-position: top center;
  }
}
@media (max-width: 650px) {
  .intro__inner {
    padding-top: 20px;
  }
}
.intro__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__slider-item img {
  margin-left: -12%;
  width: 703px;
  height: 815px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .intro__slider-item img {
    height: 640px;
    width: 552px;
  }
}
@media (max-width: 840px) {
  .intro__slider-item img {
    height: 540px;
  }
}
@media (max-width: 650px) {
  .intro__slider-item img {
    display: none;
  }
}
.intro__slider-info {
  max-width: 635px;
  margin: 0px 0px 0px 15px;
}
@media (max-width: 650px) {
  .intro__slider-info {
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
}
.intro__slider-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 121.8181818182%;
  color: #363838;
  padding: 0px 0px 25px 0px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.intro__slider-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 185px;
  height: 1px;
  background-color: #979797;
}
@media (max-width: 650px) {
  .intro__slider-title::before {
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .intro__slider-title {
    font-size: 62px;
  }
}
@media (max-width: 840px) {
  .intro__slider-title {
    font-size: 44px;
  }
}
.intro__slider-text {
  max-width: 585px;
}

.collection {
  padding: 50px 0 100px 0px;
}
@media (max-width: 767.98px) {
  .collection {
    padding: 50px 0;
  }
}
.collection--about {
  padding: 50px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .collection--about {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .collection--about {
    padding: 25px 0;
  }
}
.collection__info {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 30px;
}
.collection__title {
  max-width: 550px;
  margin: 0 auto 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 141.6666666667%;
  padding: 0px 0px 25px 0px;
  position: relative;
}
.collection__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 250px;
  margin: 0 auto;
  height: 1px;
  background-color: #979797;
}
.collection__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}
.collection__item {
  display: block;
  position: relative;
}
.collection__item::before {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 991.98px) {
  .collection__item:hover::before,
.collection__item:hover .collection__item-body {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991.98px) {
  .collection__item::before,
.collection__item .collection__item-body {
    opacity: 1;
    visibility: visible;
  }
}
.collection__photo {
  padding: 0px 0px 100% 0px;
}
.collection__item-body {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 225px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  /*&__title {
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
  	line-height: 22 / 16 * 100%;
  	opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: rgba(#363838, .9);
  	background-color: rgba(#fff, 0.6);
  	padding: 0 5px;
      display: flex;
      align-items: center;
      text-align: center;
      transition: all 0.5s ease 0s;
  }*/
}
.collection__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #363838;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 20px 0px;
  position: relative;
}
.collection__item-title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 200px;
  height: 1px;
  background-color: #979797;
}
.collection__item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #707070;
}

.decor {
  padding: 178px 0;
  background-image: url(../img/decor/decor-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.decor::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 767.98px) {
  .decor {
    padding: 70px 0px;
  }
}
.decor__info {
  max-width: 505px;
  position: relative;
  z-index: 2;
}
.decor__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 133.3333333333%;
  color: #363838;
  padding: 0px 0px 25px 0px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.decor__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 250px;
  height: 1px;
  background-color: #979797;
}
@media (max-width: 540px) {
  .decor__title {
    font-size: 28px;
  }
}
.how-it-works {
  padding: 70px 0px 90px 0px;
}
@media (max-width: 767.98px) {
  .how-it-works {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .how-it-works {
    padding: 25px 0;
  }
}
.how-it-works__title {
  margin: 0px 0px 40px 0px;
}
.how-it-works__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
  position: relative;
}
.how-it-works__items-box::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #363838;
}
@media (max-width: 650px) {
  .how-it-works__items-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.how-it-works__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  position: relative;
  height: 100%;
}
@media (max-width: 650px) {
  .how-it-works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: auto;
  }
  .how-it-works__item + .how-it-works__item {
    margin: 40px 0px 0px 0px;
  }
}
.how-it-works__item--one, .how-it-works__item--two {
  padding: 0px 0px 40px 0px;
}
@media (max-width: 650px) {
  .how-it-works__item--one, .how-it-works__item--two {
    padding: 0px 0px 0px 0px;
  }
}
.how-it-works__item--two {
  margin: 0px 0px 0px 317px;
}
.how-it-works__item--two::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: rgba(54, 56, 56, 0.7);
}
@media (max-width: 767.98px) {
  .how-it-works__item--two {
    margin: 0px 0px 0px 100px;
  }
}
@media (max-width: 650px) {
  .how-it-works__item--two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.how-it-works__item--three {
  margin: 0px 0px 0px 315px;
  padding: 40px 0px 0px 0px;
}
.how-it-works__item--three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: rgba(54, 56, 56, 0.7);
}
@media (max-width: 767.98px) {
  .how-it-works__item--three {
    margin: 0px 0px 0px 100px;
  }
}
@media (max-width: 650px) {
  .how-it-works__item--three {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
.how-it-works__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 15px 0px;
}
.how-it-works__item-image {
  width: 41px;
  height: 42px;
  margin: 0px 10px 0px 0px;
}
.how-it-works__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 143.75%;
  color: #363838;
}
.how-it-works__item-text {
  max-width: 250px;
}
@media (max-width: 650px) {
  .how-it-works__item-text {
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .how-it-works__items-box {
    border-bottom: none;
  }

  .how-it-works__items-box::before,
.how-it-works__item--two::before,
.how-it-works__item--three::before {
    display: none;
  }
}
.gallery {
  padding: 0px 0px 80px 0px;
}
@media (max-width: 767.98px) {
  .gallery {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .gallery {
    padding: 25px 0;
  }
}
.gallery--full {
  padding: 80px 0px 150px 0px;
}
.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 40px 0px;
}
.gallery__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  color: #8F8D8D;
  background-color: transparent;
  padding: 0 16px;
  height: 40px;
  border-radius: 20px;
  min-width: 160px;
  border: 1px solid rgba(69, 70, 71, 0.5);
  margin: 0px 25px 0px 0px;
}
.gallery__btn:last-child {
  margin-right: 0;
}
.gallery__btn._active {
  color: #363838;
  background-color: rgba(255, 239, 53, 0.5);
}
@media (max-width: 991.98px) {
  .gallery__btn {
    margin: 0px 10px 0px 0px;
    padding: 0 10px;
    min-width: auto;
  }
}
@media (max-width: 767.98px) {
  .gallery__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .gallery__btn + .gallery__btn {
    margin: 10px 0px 0px 0px;
  }
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px 1fr 35px 1fr 35px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
@media (max-width: 991.98px) {
  .gallery__items {
    gap: 10px;
  }
}
@media (max-width: 580px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.gallery__item {
  padding: 0px 0px 125% 0px;
}
.gallery__item:first-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
@media (max-width: 580px) {
  .gallery__item:first-child {
    grid-column: initial;
    grid-row: initial;
  }
}
@media (max-width: 767.98px) {
  .gallery.gallery--full {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .gallery.gallery--full {
    padding: 25px 0;
  }
}
.gallery.gallery--full .gallery__item:nth-child(8) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
@media (max-width: 580px) {
  .gallery.gallery--full .gallery__item:nth-child(8) {
    grid-column: initial;
    grid-row: initial;
  }
}

.blog {
  padding: 0px 0px 100px 0px;
}
@media (max-width: 767.98px) {
  .blog {
    padding: 0px 0px 50px 0px;
  }
}
@media (max-width: 479.98px) {
  .blog {
    padding: 0px 0px 25px 0px;
  }
}
.blog__title {
  max-width: 430px;
  margin: 0 auto 30px;
}
.blog__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 30px;
}
.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.blog__item-image {
  display: block;
  padding: 0px 0px 57% 0px;
  margin: 0px 0px 20px 0px;
}
.blog__item-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #707070;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 479.98px) {
  .blog__item-info {
    font-size: 12px;
    margin: 0px 0px 5px 0px;
  }
}
.blog__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 158.3333333333%;
  color: #363838;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .blog__item-title:hover {
    color: #d8c700;
  }
}
@media (max-width: 580px) {
  .blog__item-title {
    font-size: 18px;
  }
}
@media (max-width: 479.98px) {
  .blog__item-title {
    font-size: 16px;
  }
}

.footer {
  background-color: #DFDFDF;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}
@media (max-width: 991.98px) {
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 380px;
            flex: 0 1 380px;
  }
}
@media (max-width: 767.98px) {
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
  }
}
.footer__contacts-header {
  margin: 0px 0px 15px 0px;
}
.footer__contacts-header-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 143.75%;
  color: #363838;
  margin: 0px 0px 15px 0px;
}
.footer__contacts-header-text {
  font-size: 16px;
  line-height: 168.75%;
}
.footer__contacts-form-callback {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts-form-image {
  width: 16px;
  height: 16px;
  margin: 0px 15px 0px 0px;
}
.footer__contacts-form-mail {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #363838;
}
.footer__contacts-form-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 480px) {
  .footer__contacts-form-send {
    display: block;
  }
}
.footer__contacts-form-send-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 175%;
  color: #000;
  padding: 0px 10px 0px 18px;
  border: 1px solid rgba(56, 54, 54, 0.7);
  background-color: transparent;
  border-radius: 21px;
  margin: 0px 10px 0px 0px;
}
.footer__contacts-form-send-input::-webkit-input-placeholder {
  color: #A1A1A1;
}
.footer__contacts-form-send-input::-moz-placeholder {
  color: #A1A1A1;
}
.footer__contacts-form-send-input:-ms-input-placeholder {
  color: #A1A1A1;
}
.footer__contacts-form-send-input::-ms-input-placeholder {
  color: #A1A1A1;
}
.footer__contacts-form-send-input::placeholder {
  color: #A1A1A1;
}
@media (max-width: 480px) {
  .footer__contacts-form-send-input {
    margin: 0px 0px 10px 0px;
  }
}
.footer__btn {
  min-width: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #FFFFF0;
  text-align: center;
  padding: 0 12px;
  height: 40px;
  background-color: #363838;
  border-radius: 21px;
}
@media (max-width: 480px) {
  .footer__btn {
    min-width: 100%;
  }
}
.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 125px;
          flex: 0 1 125px;
}
@media (max-width: 767.98px) {
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
}
.footer__social-item, .footer__menu-item {
  margin: 0px 0px 15px 0px;
}
.footer__social-item:last-child, .footer__menu-item:last-child {
  margin-bottom: 0;
}
.footer__social-link {
  padding: 0px 0px 0px 28px;
  position: relative;
}
@media (min-width: 991.98px) {
  .footer__social-link:hover {
    text-decoration: underline;
  }
}
.footer__social-link::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
.footer__social-link--facebook::before {
  background-image: url(../img/footer/facebook.svg);
}
.footer__social-link--instagram::before {
  background-image: url(../img/footer/instagram.svg);
}
.footer__social-link--pinterest::before {
  background-image: url(../img/footer/pinterest.svg);
}
.footer__social-link--whatsapp::before {
  top: 6px;
  background-image: url(../img/footer/whatsapp.svg);
}
.footer__social-link--youtube::before {
  width: 18px;
  height: 12px;
  top: 8px;
  background-image: url(../img/footer/youtube.svg);
}
.footer__social-link, .footer__menu-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #707070;
}
.footer__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 125px;
          flex: 0 1 125px;
}
@media (max-width: 767.98px) {
  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
}
@media (min-width: 991.98px) {
  .footer__menu-link:hover {
    text-decoration: underline;
  }
}
.footer__copy {
  background-color: #363838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 110px;
}
@media (max-width: 767.98px) {
  .footer__copy {
    height: 80px;
  }
}
@media (max-width: 479.98px) {
  .footer__copy {
    height: 60px;
  }
}
.footer__copy-text {
  font-size: 16px;
  line-height: 175%;
  color: #A1A1A1;
}
@media (max-width: 767.98px) {
  .footer__copy-text {
    font-size: 14px;
  }
}

.about__intro {
  margin: -56px 0px 0px 0px;
  padding: 160px 0;
  background-image: url(../img/about/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.about__intro::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(255, 255, 240, 0.5);
}
@media (max-width: 767.98px) {
  .about__intro {
    padding: 80px 0;
  }
}
.about__intro-title {
  position: relative;
  z-index: 3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 133.3333333333%;
  color: #363838;
}
@media (max-width: 991.98px) {
  .about__intro-title {
    font-size: 44px;
  }
}
@media (max-width: 767.98px) {
  .about__intro-title {
    font-size: 34px;
  }
}
@media (max-width: 479.98px) {
  .about__intro-title {
    font-size: 24px;
  }
}
.about__content {
  padding: 100px 0px 40px 0px;
}
@media (max-width: 991.98px) {
  .about__content {
    padding: 80px 0px 40px 0px;
  }
}
@media (max-width: 767.98px) {
  .about__content {
    padding: 50px 0px 40px 0px;
  }
}
@media (max-width: 479.98px) {
  .about__content {
    padding: 25px 0px 40px 0px;
  }
}
.about__content-title {
  max-width: 830px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 166.6666666667%;
  color: #363838;
  padding: 0px 0px 25px 0px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.about__content-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 2px;
  background-color: #979797;
}
@media (max-width: 580px) {
  .about__content-title {
    font-size: 24px;
  }
}
.about__content-text {
  padding: 0px 0px 0px 285px;
}
.about__content-text p {
  margin: 0px 0px 30px 0px;
}
.about__content-text p:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .about__content-text p {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 991.98px) {
  .about__content-text {
    padding: 0;
  }
}
.about__popup {
  background-image: url(../img/about/about-popup-video.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.details {
  padding: 100px 0px 0px 0px;
  position: relative;
}
.details::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/about/three-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 360px;
}
@media (max-width: 767.98px) {
  .details {
    padding: 50px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .details {
    padding: 25px 0px 0px 0px;
  }
}
.details__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991.98px) {
  .details__inner {
    display: block;
  }
}
.details__photo {
  margin: 0px 80px 0px -230px;
}
@media (max-width: 991.98px) {
  .details__photo {
    display: none;
  }
}
.details__image {
  width: 435px;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
}
.details__info {
  max-width: 825px;
}
@media (max-width: 991.98px) {
  .details__info {
    max-width: 100%;
  }
}
.details__info-header {
  margin: 0px 0px 30px 0px;
}
.details__info-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 166.6666666667%;
  color: #363838;
  padding: 0px 0px 25px 0px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.details__info-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 1px;
  background-color: #979797;
}
@media (max-width: 580px) {
  .details__info-title {
    font-size: 24px;
  }
}
.stat-details__item {
  margin: 0px 0px 30px 0px;
}
.stat-details__item:last-child {
  margin-bottom: 0;
}
.stat-details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 16px 0px;
  border-bottom: 2px solid #fff;
  border-radius: 4px;
}
.stat-details__text, .stat-details__num {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 143.75%;
  color: #363838;
}
.stat-details__line {
  margin: -2px 0px 0px 0px;
  height: 2px;
  background-color: #363838;
  border-radius: 4px;
}

.brand {
  padding: 10px 0px 0px 0px;
}
.brand__inner {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 70px;
}
@media (max-width: 991.98px) {
  .brand__inner {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .brand__inner {
    gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .brand__inner {
    gap: 10px;
  }
}
.brand__item {
  padding: 0px 0px 88% 0px;
}

.map {
  margin: -56px 0px 0px 0px;
}
@media (max-width: 1366px) {
  .map {
    margin-top: 0;
  }
}
.map iframe {
  height: 578px;
}
@media (max-width: 767.98px) {
  .map iframe {
    height: 378px;
  }
}

.contact-us {
  padding: 55px 0px 100px 0px;
}
@media (max-width: 767.98px) {
  .contact-us {
    padding: 50px 0 45px;
  }
}
@media (max-width: 479.98px) {
  .contact-us {
    padding: 25px 0 45px;
  }
}
.contact-us .slick-track {
  margin: 0 -5px;
}
.contact-us .slick-slide {
  padding: 0 5px;
}
@media (max-width: 520px) {
  .contact-us .slick-dots li {
    margin: 0 5px;
  }
}
@media (max-width: 480px) {
  .contact-us .slick-dots li {
    margin: 0 2px;
  }
}
.contact-us__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 166.6666666667%;
  color: #363838;
  padding: 0px 0px 40px 0px;
  margin: 0px 0px 40px 0px;
  position: relative;
}
.contact-us__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 2px;
  background-color: #6D7278;
}
@media (max-width: 580px) {
  .contact-us__title {
    font-size: 24px;
  }
}
.contact-us__body {
  padding: 0px 0px 0px 285px;
  margin: 0px 0px 100px 0px;
}
@media (max-width: 840px) {
  .contact-us__body {
    padding-left: 0;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 479.98px) {
  .contact-us__body {
    margin: 0px 0px 25px 0px;
  }
}
.contact-us__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}
.contact-us__item + .contact-us__item {
  margin: 0px 0px 0px 36px;
}
.contact-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-us__social-image {
  width: 28px;
  height: 18px;
}
.contact-us__text {
  color: #A1A1A1;
  margin: 0px 0px 10px 0px;
}
.contact-us__info {
  margin: 0px 0px 15px 0px;
}
.contact-us__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 25px 0px;
}
.contact-us__name-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 640px) {
  .contact-us__name-input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-us__name-input input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    margin: 0px 0px 15px 0px;
  }
  .contact-us__name-input input:last-child {
    margin-bottom: 0;
  }
}
.contact-us__name-textarea {
  margin: 15px 0px 0px 0px;
}
.contact-us__send {
  margin: 20px 0px 0px 0px;
}
@media (max-width: 640px) {
  .contact-us__send {
    margin: 15px 0px 0px 0px;
  }
}
.contact-us__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #FFFFF0;
  background-color: #363838;
  padding: 0 12px;
  height: 40px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 21px;
  min-width: 180px;
}

.input,
.textarea {
  font-family: "Open Sans", sans-serif;
  display: block;
  background-color: transparent;
}
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 175%;
  color: #A1A1A1;
}
.input::-moz-placeholder, .textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 175%;
  color: #A1A1A1;
}
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 175%;
  color: #A1A1A1;
}
.input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 175%;
  color: #A1A1A1;
}
.input::placeholder,
.textarea::placeholder {
  font-size: 16px;
  line-height: 175%;
  color: #A1A1A1;
}

.input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  width: 49%;
  height: 40px;
  padding: 0 17px;
  border: 1px solid #DFDFDF;
  border-radius: 20px;
}

.textarea {
  width: 100%;
  resize: none;
  min-height: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.slider-contact-us__link {
  padding: 0px 0px 98.84% 0px;
  display: block;
}
@media (min-width: 991.98px) {
  .slider-contact-us__link:hover .slider-contact-us__title {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991.98px) {
  .slider-contact-us__link .slider-contact-us__title {
    opacity: 1;
    visibility: visible;
  }
}
.slider-contact-us__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 137.5%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: rgba(54, 56, 56, 0.9);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.blog-full {
  padding: 60px 0;
}
@media (max-width: 1040px) {
  .blog-full {
    padding: 40px 0;
  }
}
@media (max-width: 767.98px) {
  .blog-full {
    padding: 25px 0;
  }
}
.blog-full__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 1040px) {
  .blog-full__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.blog-full__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 730px;
          flex: 0 1 730px;
  max-width: 730px;
  padding: 0px 0px 50px 0px;
}
@media (max-width: 1040px) {
  .blog-full__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .blog-full__items {
    padding: 0px 0px 35px 0px;
  }
}
@media (max-width: 479.98px) {
  .blog-full__items {
    padding: 0px 0px 25px 0px;
  }
}
.blog-full__item {
  margin: 0px 0px 80px 0px;
}
.blog-full__item:last-child {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .blog-full__item:last-child {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .blog-full__item {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 479.98px) {
  .blog-full__item {
    margin: 0px 0px 25px 0px;
  }
}
.blog-full__blockquote {
  background-color: rgba(223, 223, 223, 0.5);
  padding: 65px 55px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 158.3333333333%;
  color: #363838;
  text-align: center;
}
@media (max-width: 479.98px) {
  .blog-full__blockquote {
    padding: 30px 40px;
  }
}
.blog-full__blockquote-author {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 137.5%;
  color: rgba(54, 56, 56, 0.9);
  padding: 23px 0px 0px 0px;
  margin: 23px 0px 0px 0px;
  position: relative;
}
.blog-full__blockquote-author::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 1px;
  background-color: #6D7278;
  border-radius: 0.5px;
}
.blog-full__item-box {
  position: relative;
  margin: 0px 0px 25px 0px;
}
.blog-full__item-link {
  padding: 0px 0px 56.85% 0px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.blog-full__item-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-full__item-slider-box {
  position: relative;
  padding: 0px 0px 56.85% 0px;
  margin: 0px 0px 25px 0px;
}
.blog-full__item-slider-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-full__item-box-link {
  display: block;
  padding: 0px 0px 56.85% 0px;
}
.blog-full__item-box-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-full__item-play-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blog-full__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}
.blog-full__item-info p {
  margin: 0px 5px 0px 5px;
}
.blog-full__item-info-date, .blog-full__item-info-author, .blog-full__item-info-category {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #707070;
}
.blog-full__item-title {
  margin: 0px 0px 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 158.3333333333%;
  color: #363838;
}
@media (max-width: 540px) {
  .blog-full__item-title {
    font-size: 20px;
  }
}
@media (min-width: 991.98px) {
  .blog-full__item-title-link:hover {
    text-decoration: underline;
  }
}
.blog-full__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  width: 350px;
  margin: 0px 0px 0px 30px;
}
@media (max-width: 1040px) {
  .blog-full__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    margin: 0px 0px 50px 0px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (max-width: 767.98px) {
  .blog-full__aside {
    margin: 0px 0px 25px 0px;
  }
}
.blog-full__search {
  margin: 0px 0px 45px 0px;
  position: relative;
}
@media (max-width: 1040px) {
  .blog-full__search {
    margin: 0px 0px 20px 0px;
  }
}
.blog-full__search-input {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  padding: 0 45px 0 18px;
  height: 40px;
  border: 1px solid rgba(56, 54, 54, 0.7);
  border-radius: 20px;
}
.blog-full__search-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #A1A1A1;
}
.blog-full__search-input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #A1A1A1;
}
.blog-full__search-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #A1A1A1;
}
.blog-full__search-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #A1A1A1;
}
.blog-full__search-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #A1A1A1;
}
.blog-full__search-btn {
  position: absolute;
  z-index: 1;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.blog-full__search-btn img {
  width: 17px;
  height: 17px;
}
.blog-full__category {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767.98px) {
  .blog-full__category {
    margin: 0px 0px 30px 0px;
  }
}
.blog-full__category-title {
  margin: 0px 0px 15px 0px;
}
.blog-full__category-item {
  margin: 0px 0px 12px 0px;
}
@media (min-width: 991.98px) {
  .blog-full__category-link:hover {
    text-decoration: underline;
  }
}
.blog-full__recent-posts {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767.98px) {
  .blog-full__recent-posts {
    margin: 0px 0px 30px 0px;
  }
}
.blog-full__recent-posts-title {
  margin: 0px 0px 25px 0px;
}
.blog-full__recent-posts-item {
  margin: 0px 0px 11px 0px;
}
.blog-full__recent-posts-link {
  display: block;
}
@media (min-width: 991.98px) {
  .blog-full__recent-posts-link:hover {
    text-decoration: underline;
  }
}
.blog-full__recent-posts-date, .blog-full__recent-posts-author {
  font-size: 14px;
  line-height: 200%;
  color: #A1A1A1;
}
.blog-full__recent-posts-date {
  display: inline-block;
}
.blog-full__recent-posts-author {
  display: inline-block;
}
.blog-full__tags {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767.98px) {
  .blog-full__tags {
    margin: 0px 0px 30px 0px;
  }
}
.blog-full__tags-title {
  margin: 0px 0px 15px 0px;
}
.blog-full__tags-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #8F8D8D;
  padding: 0 16px;
  height: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 14px;
  margin: 0px 10px 10px 0px;
}
.blog-full__tags-link:last-child {
  margin-right: 0;
}
.blog-full__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-full__social-item + .blog-full__social-item {
  margin: 0px 0px 0px 20px;
}
.blog-full__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-full__social-image {
  width: 16px;
  height: 18px;
}

@media (min-width: 991.98px) {
  .user-profile:hover {
    text-decoration: underline;
  }
}

.aside__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 143.75%;
  color: #363838;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pagination__arrow {
  margin: 0 6px;
}
.pagination__arrow svg {
  fill: rgba(0, 0, 0, 0.7);
}
.pagination__arrow--disabled {
  opacity: 0;
  visibility: hidden;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination__list-item {
  margin: 0 6px;
}
.pagination__list-num {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #707070;
}
@media (min-width: 991.98px) {
  .pagination__list-num:hover {
    text-decoration: underline;
  }
}
.pagination__list-num--active {
  color: #363838;
}

.blog-one {
  padding: 60px 0 20px;
}
.blog-one__items {
  padding-bottom: 0;
}
.blog-one__item .blog-full__item-title-link {
  text-decoration: none;
}
.blog-one__text p {
  margin: 0px 0px 40px 0px;
}
.blog-one__text blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 158.3333333333%;
  color: #363838;
  padding: 0 40px;
  margin: 0px 0px 30px 0px;
}
.blog-one__text blockquote .blog-full__blockquote-author::before {
  left: 0;
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 479.98px) {
  .blog-one__text blockquote {
    padding: 0 20px;
  }
}
.blog-one__tags {
  margin: 0px 0px 30px 0px;
}
.blog-one__tags-title {
  margin: 0px 0px 15px 0px;
}
.blog-one__tags-link {
  margin-right: 23px;
}
.blog-one__links {
  padding: 40px 0;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 540px) {
  .blog-one__links {
    padding: 20px 0;
  }
}
.blog-one__link {
  max-width: 300px;
  position: relative;
}
@media (min-width: 991.98px) {
  .blog-one__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 540px) {
  .blog-one__link {
    font-size: 0;
  }
}
.blog-one__link-prev::before, .blog-one__link-next::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  background-repeat: no-repeat;
  width: 12px;
  height: 23px;
}
.blog-one__link-prev {
  padding: 0px 0px 0px 35px;
}
.blog-one__link-prev::before {
  background-image: url(../img/blog-one/prev.svg);
  left: 0;
}
.blog-one__link-next {
  text-align: right;
  padding: 0px 35px 0px 0px;
}
.blog-one__link-next::before {
  background-image: url(../img/blog-one/next.svg);
  right: 0;
}
.blog-one__comments {
  margin: 0px 0px 40px 0px;
}
.blog-one__comments-title {
  margin: 0px 0px 10px 0px;
}
.blog-one__comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 540px) {
  .blog-one__comments-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.blog-one__comments-item-user-photo {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  height: 64px;
  margin: 0px 13px 0px 0px;
}
@media (max-width: 540px) {
  .blog-one__comments-item-user-photo {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
  }
}
.blog-one__comments-item-user-photo-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 540px) {
  .blog-one__comments-item-body {
    margin-top: -45px;
  }
}
.blog-one__comments-item-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 540px) {
  .blog-one__comments-item-body-header {
    margin-left: 55px;
  }
}
.blog-one__comments-item-body-header-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 143.75%;
  color: #363838;
}
@media (min-width: 991.98px) {
  .blog-one__comments-item-body-header-name:hover {
    text-decoration: underline;
  }
}
.blog-one__comments-item-body-header-reply {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  color: #707070;
  background-color: transparent;
}
@media (min-width: 991.98px) {
  .blog-one__comments-item-body-header-reply:hover {
    text-decoration: underline;
  }
}
.blog-one__comments-item-body-date {
  font-size: 14px;
  line-height: 200%;
  color: #A1A1A1;
  margin: -10px 0px 10px 0px;
}
@media (max-width: 540px) {
  .blog-one__comments-item-body-date {
    margin-left: 55px;
  }
}
.blog-one__comments-item-body-text {
  max-width: 650px;
}
.blog-one__post-comment-title {
  margin: 0px 0px 25px 0px;
}
.blog-one__form-your-comment {
  margin: 0px 0px 12px 0px;
}
.blog-one__form-textarea {
  padding-top: 0;
  border: 1px solid #DFDFDF;
  border-radius: 24px;
  padding: 15px;
}
.blog-one__form-your-name-email {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 540px) {
  .blog-one__form-your-name-email {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 540px) {
  .blog-one__form-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
  }
  .blog-one__form-input + .blog-one__form-input {
    margin: 12px 0px 0px 0px;
  }
}
.blog-one__form-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}
.blog-one__form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.blog-one__form-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 200%;
  color: #A1A1A1;
  cursor: pointer;
}
.blog-one__form-btn {
  min-width: 160px;
}

.blog-one__form-checkbox + .blog-one__form-label::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21px;
          flex: 0 0 21px;
  width: 21px;
  height: 21px;
  border: 1px solid #979797;
  background-color: transparent;
  margin: 0px 11px 0px 0px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}

.blog-one__form-checkbox:checked + .blog-one__form-label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url(../img/blog-one/check.svg);
}

.blog-one__form-checkbox:not(:disabled):not(:checked) + .blog-one__form-label:hover::before {
  border-color: #4da1ff;
}

.blog-one__form-checkbox:not(:disabled):active + .blog-one__form-label::before {
  background-color: #dcecff;
  border-color: #dcecff;
}

.blog-one__form-checkbox:focus + .blog-one__form-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.blog-one__form-checkbox:focus:not(:checked) + .blog-one__form-label::before {
  border-color: #80bdff;
}